[user]
        email = kincaidoneil@users.noreply.github.com
        name = Kincaid O'Neil
        signingKey = 78A7202497262914DCF82B9CD8152F7B23AD996C
[commit]
        gpgsign = true
[gpg]
        program = gpg
[core]
	editor = code --wait
